/* Style for the permalink/headerlink */
.headerlink {
    color: #eee;
    font-size: 0.8em;
    margin-left: 8px;
    text-decoration: none;
    transition: color 0.3s;
}

.headerlink:hover {
    color: #333;
}
