name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - goos: linux
            goarch: amd64
          - goos: linux
            goarch: arm64
          - goos: windows
            goarch: amd64
          - goos: darwin
            goarch: amd64
          - goos: darwin
            goarch: arm64
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          check-latest: true

      - name: Build binary
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
        run: |
          BINARY_NAME=affectedpkgs
          if [ "$GOOS" = "windows" ]; then
            BINARY_NAME+=".exe"
          fi
          go build -v -o "$BINARY_NAME" main.go

      - name: Archive binary
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          REF_NAME: ${{ github.ref_name }}
        run: |
          BINARY_NAME=affectedpkgs
          if [ "$GOOS" = "windows" ]; then
            BINARY_NAME+=".exe"
            ARCHIVE_NAME="affectedpkgs-${REF_NAME}-${GOOS}-${GOARCH}.zip"
            zip "$ARCHIVE_NAME" "$BINARY_NAME"
          else
            ARCHIVE_NAME="affectedpkgs-${REF_NAME}-${GOOS}-${GOARCH}.tar.gz"
            tar -czvf "$ARCHIVE_NAME" "$BINARY_NAME"
          fi
          echo "ARCHIVE_NAME=$ARCHIVE_NAME" >> $GITHUB_ENV

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-artifacts-${{ matrix.goos }}-${{ matrix.goarch }}
          path: ${{ env.ARCHIVE_NAME }}
          retention-days: 1

  release:
    name: Create Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: release-artifacts-*
          merge-multiple: true
          path: release_assets

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: release_assets/*
          generate_release_notes: true
